<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add a New User</h1>
<a href="/all_users">Home</a>
<form action="/create" method="POST">
    <label for="f_name">First Name:</label><input id="f_name" name="f_name" type="text">
    <label for="l_name">Last Name:</label><input id="l_name" name="l_name" type="text">
    <label for="email">Email:</label><input id="email" name="email" type="text">
    <button>Go to next page</button>
</form>
</body>
</html>