@model Category

<div class="d-flex flex-row gap-3 ">
    <div class="left flex-grow-1">
        <h3 class="text-center">
            New Category
        </h3>
        <form asp-action="CreateCategory" asp-controller="Category">
            <div class="mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name"></span>
            </div>
            <button class="btn btn-danger">Submit</button>
        </form>

    </div>

    <div class="text-center flex-grow-1 border-start border-3 border-dark ps-3">
        <h3 class="text-center">
            All Categories
        </h3>
        <ul class="list-group">
            @{
                foreach (Category c in ViewBag.AllCategories)
                {
                    <li class="list-group-item">
                        <a asp-controller="Category" asp-action="OneCategory" asp-route-categoryId="@c.CategoryId">@c.Name</a>
                    </li>
                }
            }
        </ul>
    </div>
</div>