@model Dish
<h1 class="text-center">DISH FORM</h1>
<hr>
<form asp-action="AddDish" asp-controller="Dish" method="post">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Calories"></label>
        <input asp-for="Calories" value="0" min="0" class="form-control">
        <span asp-validation-for="Calories"></span>
    </div>

    <div class="mb-3">

        <label asp-for="Tastiness"></label>
        <select asp-for="Tastiness">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <span asp-validation-for="Tastiness"></span>
    </div>

    <div class="mb-3">

        <label asp-for="ChefId">Chef</label>
        <select asp-for="ChefId">
            @{
                foreach (Chef c in ViewBag.ChefList)
                {
                    <option value="@c.ChefId">@c.FirstName @c.LastName</option>
                }
            }
        </select>
        <span asp-validation-for="ChefId"></span>
    </div>
    <button type="submit" class="btn btn-danger">Submit</button>
</form>